* {
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-size: 50px;
}

body {
  background-image: url("/images/pikseli-grafika-retro-pxl-oblaka-fon-art.jpeg");
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-shadow: 0 0 10px black;
}

#canvas {
  border-style: solid;
  border-color: black;
  border-radius: 40px;
  background-image: url("/images/pikseli-grafika-retro-pxl-oblaka-fon-art.jpeg");
  background-position-x: 50%;
  background-position-y: 42%;
}

#scoreback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

#scoreback #card {
  background-color: rgba(17, 21, 53, 0.493);
  background: transparent;
  width: 300px;
  height: 150px;
  border-radius: 5px;
  animation: cardIn 1s forwards;
  display: none;
}

#scoreback #card > p {
  font-size: 50px;
  margin-top: 10px;
  user-select: none;
}

#scoreback #card > button {
  outline: none;
  color: white;
  border: none;
  background-color: rgb(36, 42, 58);
  padding: 10px;
  width: 40%;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: 3px solid black;
  outline: none;
  box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
}

.fade {
  opacity: 0.5;
}
.fade:hover {
  opacity: 1;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
